[Unit]
Description=Transmission RSS daemon.
#After=transmission-daemon.service
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/transmission-rss -f
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
