language: ruby

os:
  - linux
  - osx

rvm:
  - ruby-head
  - 2.7
  - 2.5
  - 2.1

matrix:
  fast_finish: true
  allow_failures:
    - os: osx
    - rvm: ruby-head
  exclude:
    - os: osx
      rvm: ruby-head
    - os: osx
      rvm: 2.1

notifications:
  email: false

install:
  - gem install bundler -v '< 2'
  - bundle install --jobs=3 --retry=3

script:
  - bundle exec gem build transmission-rss.gemspec
  - bundle exec rake
